Repository 7tg/kolayekstre: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typecheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      - id: typecheck
        name: TypeScript Check
        entry: npm run typecheck
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: test
        name: Run Tests
        entry: npm run test:run
        language: system
        pass_filenames: false

Complete i18n implementation across all components
  src/components/FileUpload.tsx
  src/components/StatsPanel.tsx
  src/components/TransactionChart.tsx
  src/components/TransactionTable.tsx
  src/i18n/locales/en.json
  src/i18n/locales/tr.json
Due: eslint, typecheck

Add auto dark mode support with theme switching
  src/App.tsx
  src/components/ThemeToggle.tsx
  src/contexts/ThemeContext.tsx
  src/hooks/useTheme.ts
  src/i18n/locales/en.json
  src/i18n/locales/tr.json
  src/main.tsx
  src/theme/index.ts
Due: eslint, typecheck

Add CLAUDE.md to gitignore
  .gitignore
Due: none

Fix chart component rendering and dark mode integration
  src/components/TransactionChart.tsx
  src/tests/components/TransactionChart.test.ts
Due: eslint, typecheck

Fix .gitignore
  .gitignore
Due: none

Implement modern left navigation sidebar with responsive design
  src/App.tsx
  src/components/Layout/MainLayout.tsx
  src/components/Navigation/Sidebar.tsx
  src/i18n/locales/en.json
  src/i18n/locales/tr.json
  src/tests/components/Navigation.test.ts
Due: eslint, typecheck

Implement comprehensive upload wizard with transaction selection
  src/App.tsx
  src/components/Navigation/Sidebar.tsx
  src/components/Wizard/ConfirmationStep.tsx
  src/components/Wizard/FileUploadStep.tsx
  src/components/Wizard/TransactionPreviewStep.tsx
  src/i18n/locales/en.json
  src/i18n/locales/tr.json
  src/pages/UploadWizard.tsx
Due: eslint, typecheck

Add Claude
  .gitignore
  CLAUDE.md
Due: none

Add VS Code extensions configuration
  .vscode/extensions.json
Due: none

Update .gitignore to include all files in bank_statements directory
  .gitignore
Due: none

Implement IBAN extraction and transaction organization by account
  package-lock.json
  src/parsers/BankStatementParser.ts
  src/parsers/BaseParser.ts
  src/parsers/banks/ZiraatParser.ts
  src/tests/parsers/BankStatementParser.test.ts
  src/tests/parsers/ZiraatParser.test.ts
  src/types/index.ts
  src/utils/schemaValidator.ts
  src/utils/transactionOrganizer.ts
Due: eslint, typecheck

Configure GitHub Pages deployment with custom domain
  .github/workflows/deploy.yml
  public/CNAME
  vite.config.js
Due: eslint

Fix GitHub Pages deployment permissions
  .github/workflows/deploy.yml
Due: none

Add comprehensive Enpara.com bank statement support
  src/components/FileUpload.tsx
  src/components/StatsPanel.tsx
  src/components/TransactionTable.tsx
  src/components/Wizard/ConfirmationStep.tsx
  src/components/Wizard/FileUploadStep.tsx
  src/components/Wizard/TransactionPreviewStep.tsx
  src/i18n/locales/en.json
  src/i18n/locales/tr.json
  src/parsers/BankStatementParser.ts
  src/parsers/banks/EnparaParser.ts
  src/tests/parsers/BankStatementParser.test.ts
  src/tests/parsers/EnparaParser.test.ts
  src/tests/utils/bankUtils.test.ts
  src/utils/bankUtils.ts
Due: eslint, typecheck

Add comprehensive project documentation and non-commercial license
  LICENSE
  README.md
Due: none

Add Turkish language support to documentation
  README.md
  README.tr.md
Due: none

Remove GitHub Actions documentation file
  .github/README.md
Due: none

Add internationalized routing support with React Router
  package-lock.json
  package.json
  src/App.tsx
  src/components/Layout/MainLayout.tsx
  src/components/Navigation/Sidebar.tsx
  src/i18n/locales/en.json
  src/i18n/locales/tr.json
  src/main.tsx
  src/pages/Chart.tsx
  src/pages/Dashboard.tsx
  src/pages/EmptyState.tsx
  src/pages/Transactions.tsx
  src/tests/utils/routing.test.ts
  src/utils/routing.ts
Due: eslint, typecheck
